.library {
  background: var(--color-1);
  height: 100vh;
}

.library .banner-full {
  background: rgba(0, 0, 0, 0.7);
}

.library header {
  background: url(/imgs/backs5.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.card-content {
  display: flex;
}
.card-header {
  background-size: contain;
  height: 200px;
  width: 100%;
}
