.team-member img {
  width: 100%;
}

.team-member {
  position: relative;
  list-style: none;
  text-align: center;
}

/* Common style */
.team-member figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 480px;
  max-height: 360px;
  width: 100%;
  background: lightslategray;
  text-align: center;
  cursor: pointer;
}

.team-member figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.team-member figure figcaption {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.team-member figure figcaption::before,
.team-member figure figcaption::after {
  pointer-events: none;
}

.team-member figure figcaption,
.team-member figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.team-member figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.team-member h2 {
  font-size: 18px;
  font-weight: 600;
  display: block;
  width: 100%;
}

.team-member h2 span {
  font-weight: 800;
}

.team-member h2,
.team-member figure p {
  font-family: var(--main-font);
  font-weight: 100;
  margin: 0;
}

.team-member figure p {
  letter-spacing: 1px;
  font-size: 70.5%;
}

figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}

figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

figure.effect-chico p {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

figure.effect-chico p a.read-more {
  display: block;
  margin: 0 auto;
  border: solid 1px #eee;
  padding: 0;
  width: 50%;
}

figure.effect-chico p a.read-more:hover {
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #eee;
  color: var(--color-5);
}

.team-member p.team-description {
  font-family: var(--main-font);
  color: var(--color-1);
  background: rgba(0, 0, 0, 0.7);
  width: 60vw;
  position: absolute;
  height: 500px;
  padding: 30px;
  font-size: 2rem;
  display: none;
}

figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-chico:hover h2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .team-member {
    width: 50%;
    margin: 0 auto;
  }
}
