.news {
  background: var(--color-1);
  height: 100vh;
  position: relative;
}

.news .banner-full {
  background: rgba(0, 0, 0, 0.7);
}

.news header {
  background: url(/imgs/backs5.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

ul.cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  grid-gap: 10px;
}

.cards-container .show-more-btn {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  ul.cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425) {
  ul.cards {
    grid-template-columns: 1fr;
  }
}
