@import "./styles/shared.css";

::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-transparent);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-3);
}

.social-links-fixed {
  position: fixed;
  right: 30px;
  top: 0px;
  list-style: none;
  z-index: 1000;
}

.social-links-fixed a {
  font-size: 2rem;
  color: var(--color-2);
}

.social-links-fixed a:hover {
  font-size: 2rem;
  color: var(--color-4);
}
