@import "./styles/shared.css";

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-2);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-3);
}
