#page-numbers {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }

#page-numbers li {
    margin-right: 0.3em;
  }

.storiesPages #page-numbers li Button.active-page-number {
      background-color: var(--color-2);
      color: #fff;
  }

  .storiesPages .search-group {
    height: 40px;
    width: 300px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    display: flex;
    text-align: center;
    top: 25%;
  }

  .storiesPages .search-input {
    margin: 0 auto;
    border: none;
    height: 100%;
    background: none;
    outline: none;
  }

  .storiesPages .fa-search {
    margin: auto 15px;
  }