.admin-dashboard > main {
  width: calc(100vw - 200px);
  float: right;
}

.nav-up {
  height: 80px;
  background: white;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-up.main-nav {
  padding-left: 190px;
  margin: 0;
  background: var(--color-4);
}

.nav-up.nav-up.main-nav a i {
  background: none;
  font-size: 2rem;
}

.nav-up a {
  color: var(--color-2);
  border-radius: 50%;
  height: 80px;
  margin-left: 30px;
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.nav-up a i {
  background: var(--color-1);
  padding: 10px;
  border-radius: 50%;
  margin: 0;
}

.nav-up a:hover i {
  background: var(--color-2);
}

.nav-up a:hover {
  color: var(--color-3);
}

.nav-up.main-nav a {
  font-size: 2rem;
}

.nav-up a span {
  margin: 0 10px;
  font-size: 14px;
}

.nav-up .fa-search {
  margin: auto 0;
}

.nav-up .fa-search:hover {
  color: var(--color-2);
}
.nav-up .search-group {
  height: 40px;
  margin: 20px;
  background: var(--color-1);
  border-radius: 20px;
  padding: 0 15px;
  position: absolute;
  right: 0;
}

.nav-up .search-input {
  margin: 0;
  border: none;
  height: 100%;
  background: none;
  padding: 0 20px;
  outline: none;
}
