.loading-img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}

.fab-add-btn {
  position: absolute !important;
  bottom: 30px !important;
  right: 30px !important;
}

.perm-checkboxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media (max-width: 968px) {
  .perm-checkboxes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .perm-checkboxes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 468px) {
  .perm-checkboxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
