.project-options a {
  color: var(--color-5);
}

.project-options a:hover {
  color: var(--color-2) !important;
}

.projects-list-table td button {
  height: 50px;
  width: 100px;
}

.projects-list-table td.project-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.projects-list-table td.project-options a {
  margin: 0 20px;
}

.projects-list-table td.project-options a:hover {
  color: var(--color-1);
}
.projects-list-table td {
  font-weight: normal;
  font-size: 1em;
}

.projects-list-table {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border-radius: 10px;
}

.projects-list-table td {
  padding: 5px;
  padding-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects-list-table tr {
  background-color: white;
}

.projects-list-table th {
  background-color: var(--color-5);
  color: var(--color-2);
  text-align: center;
  padding: 10px 30px;
}

.projects-list-table td:first-child {
  color: var(--color-3);
  width: 100px;
  text-align: center;
  font-weight: bold;
}

@media (max-width: 800px) {
  .projects-list-table td:nth-child(4),
  .projects-list-table th:nth-child(4) {
    display: none;
  }
}
