.form-sbumit-button {
  margin: 20px auto 0 auto !important;
  display: block !important;
  width: 100%;
  font-family: var(--main-font) !important;
  font-size: 1.2rem !important;
  background: var(--color-1) !important;
}
.form-sbumit-button:hover {
  background: var(--color-2) !important;
}

.form-sbumit-button i {
  color: var(--color-2);
  padding: 10px;
}

.form-sbumit-button:hover {
  color: var(--color-1) !important;
}

.form-sbumit-button:hover i {
  color: var(--color-1) !important;
}

.full-width-input {
  width: 100%;
  margin: 30px 0 !important;
}
.contact-section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}
.input-text-group {
  width: 50%;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 20px;
}
.half-width-input {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.input-text-group i {
  color: var(--color-2);
  font-size: 1.7rem;
  margin-right: 10px;
}

.admin-form-container {
  position: relative;
  width: 50%;
  left: 25%;
  margin: 50px 0;
  padding: 30px 80px;
}

.img-upload-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-upload-preveiw {
  background-color: transparent;
  background-size: cover;
  height: 60px !important;
  width: 60px !important;
  margin-right: 10px;
  margin-top: -20px;
}

@media (max-width: 1024px) {
  .admin-form-container {
    width: 80%;
    left: 10%;
    padding: 30px 10px;
  }
}

@media (max-width: 768px) {
  .input-text-group {
    width: 100%;
  }
  .half-width-input {
    width: 100%;
  }
  .admin-form-container {
    width: 96%;
    left: 2%;
    padding: 30px 0px;
  }
}
