.dot {
  background: var(--color-2);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dot:hover {
  background: white;
  -webkit-transform: scale(2);
  transform: scale(2);
  cursor: default;
  -webkit-animation: unset;
  animation: unset;
}

.project-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 300px;
  width: 450px;
  top: -145px;
  left: -225px;
  z-index: 100000;
  transform: scale(0);
  transition: all 1s ease;
}

.dot:hover .project-info {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.project-info-popup {
  height: 140px;
  width: 215px;
  background: var(--dark-transparent);
  position: absolute;
}
.project-info-popup:nth-child(1) {
  left: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    83% 76%,
    100% 100%,
    68% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    83% 90%,
    100% 100%,
    68% 90%,
    0% 90%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(2) {
  right: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    23% 90%,
    0 100%,
    12% 90%,
    0% 90%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    23% 90%,
    0 100%,
    12% 90%,
    0% 90%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(3) {
  bottom: 0;
  left: calc(50% - 100px);
  -webkit-clip-path: polygon(
    0 15%,
    48% 15%,
    50% 0,
    52% 15%,
    100% 15%,
    100% 100%,
    0 100%
  );
  clip-path: polygon(
    0 15%,
    48% 15%,
    50% 0,
    52% 15%,
    100% 15%,
    100% 100%,
    0 100%
  );
  padding-top: 20px;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(2.05, 2.05, 2.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(2.05, 2.05, 2.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
