.dot {
  background: var(--color-2);
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dot:hover {
  background: white;
  cursor: default;
  -webkit-animation: unset;
  animation: unset;
}

.project-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 600px;
  width: 800px;
  top: -300px;
  left: -400px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.dot:hover .project-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-info-popup {
  height: 250px;
  width: 300px;
  padding: 20px;
  position: absolute;
  z-index: 100000;
  overflow-y: scroll;
  background: var(--dark-transparent);
  position: absolute;
}
.project-info-popup:nth-child(1) {
  left: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    83% 76%,
    100% 100%,
    68% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    83% 90%,
    100% 100%,
    68% 90%,
    0% 90%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(2) {
  right: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    23% 90%,
    0 100%,
    12% 90%,
    0% 90%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    23% 90%,
    0 100%,
    12% 90%,
    0% 90%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(3) {
  bottom: 0;
  left: calc(50% - 160px);
  -webkit-clip-path: polygon(
    0 15%,
    48% 15%,
    50% 0,
    52% 15%,
    100% 15%,
    100% 100%,
    0 100%
  );
  clip-path: polygon(
    0 15%,
    48% 15%,
    50% 0,
    52% 15%,
    100% 15%,
    100% 100%,
    0 100%
  );
  padding-top: 20px;
}
.project-info-popup h1 {
  color: white;
}
.project-info-popup p {
  color: white;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(2.05, 2.05, 2.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(2.05, 2.05, 2.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
