.dot {
  background: var(--color-2);
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dot:hover {
  background: white;
  cursor: default;
  -webkit-animation: unset;
  animation: unset;
}

.project-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 65vh;
  width: 50vw;
  top: -30vh;
  left: -25vw;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dot:hover .project-info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-info-popup {
  height: 30vh;
  width: 45%;
  padding: 20px;
  position: absolute;
  z-index: 100000;
  overflow-y: scroll;
  background: var(--dark-transparent);
  position: absolute;
  border-radius: 20px;
}
.project-info-popup:nth-child(1) {
  left: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 95%,
    83% 95%,
    100% 100%,
    68% 95%,
    0% 95%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 95%,
    83% 95%,
    100% 100%,
    68% 95%,
    0% 95%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(2) {
  right: 0;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 95%,
    23% 95%,
    0 100%,
    12% 95%,
    0% 95%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 95%,
    23% 95%,
    0 100%,
    12% 95%,
    0% 95%
  );
  padding-bottom: 20px;
}
.project-info-popup:nth-child(3) {
  bottom: 0;
  padding-top: 6vh;
  width: 100%;
  left: calc(10px);
  -webkit-clip-path: polygon(
    0 10%,
    48% 10%,
    50% 0,
    52% 10%,
    100% 10%,
    100% 100%,
    0 100%
  );
  clip-path: polygon(
    0 10%,
    48% 10%,
    50% 0,
    52% 10%,
    100% 10%,
    100% 100%,
    0 100%
  );
}
.project-info-popup h4 {
  color: var(--color-2);
}
.project-info-popup p {
  color: var(--color-1);
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.contact-field {
  display: block;
  color: var(--color-3);
  font-size: 1rem;
  margin: 20px 0;
  font-weight: 100;
}
.contact-field:hover {
  color: var(--color-2);
}

.contact-field i {
  font-size: 1rem;
  color: var(--color-2);
  margin-right: 20px;
}

@media (max-width: 768px) {
  .project-info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 65vh;
    width: 90vw;
    top: -30vh;
    left: -45vw;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
