.new-project {
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  padding: 100px auto;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button,
button[type="submit"] {
  background-color: #222;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 100%;
  margin: 20px 0;
  padding: 10px 30px;
}
.new-project form {
  padding: 30px;
  width: 100%;
}

.new-project label {
  font-size: 20px;
  width: 50%;
  color: var(--color-5);
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  z-index: 10;
  height: 50vh;
  width: 50vw;
  top: 25vh;
  left: 25vw;
}

.new-project input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Set a style for the submit/login button */
.form-container .btn {
  position: relative;
  z-index: 100;
  left: 20px;
  bottom: 20px;
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.selected-location {
  position: absolute;
  background-color: var(--dark-transparent);
  color: var(--color-1);
  z-index: 100;
}
