.story {
  height: 130px;
  width: 130px;
  cursor: pointer;
}

.story-item {
  height: 100%;
  width: 100%;
  background-color: var(--color-4);
  border-radius: 50%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.story:hover .link-read-more {
  opacity: 1;
}

.link-read-more {
  text-decoration: underline;
  position: absolute;
  line-height: 160px;
  color: var(--color-2);
  opacity: 0;
}

.story:hover .story-item {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.bub {
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation: bub 1s ease forwards;
  animation: bub 1s ease forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.bub:nth-child(1) {
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.bub:nth-child(2) {
  -webkit-animation-delay: 2.11s;
  animation-delay: 2.11s;
}

.bub:nth-child(3) {
  -webkit-animation-delay: 2.13s;
  animation-delay: 2.13s;
}

.bub:nth-child(4) {
  -webkit-animation-delay: 2.17s;
  animation-delay: 2.17s;
}

.bub:nth-child(5) {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.bub:nth-child(6) {
  -webkit-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

.bub:nth-child(7) {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.bub:nth-child(8) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.bub:nth-child(9) {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

@-webkit-keyframes bub {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bub {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
