.story {
  height: 250px;
  width: 250px;
  transform: scale(0);
  margin: 0 auto;
}

.pop {
  animation-name: pop;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.story.story.full-story .story-details img {
  width: 100%;
}

@keyframes pop {
  from {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.ch-thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5);
  z-index: 3;

  -webkit-transform-origin: 95% 40%;
  -moz-transform-origin: 95% 40%;
  -o-transform-origin: 95% 40%;
  -ms-transform-origin: 95% 40%;
  transform-origin: 95% 40%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
  left: 95%;
  margin: -4px 0 0 -4px;
  background: rgb(14, 14, 14);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(14, 14, 14, 1) 0%,
    rgba(125, 126, 125, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(14, 14, 14, 1)),
    color-stop(100%, rgba(125, 126, 125, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(14, 14, 14, 1) 0%,
    rgba(125, 126, 125, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(14, 14, 14, 1) 0%,
    rgba(125, 126, 125, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(14, 14, 14, 1) 0%,
    rgba(125, 126, 125, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(14, 14, 14, 1) 0%,
    rgba(125, 126, 125, 1) 100%
  );
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
}

.ch-info {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  filter: brightness(40%);
}

.ch-item h3 {
  position: absolute;
  z-index: 2;
  color: var(--color-1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  height: 150px;
  width: 200px;
  left: 25px;
  top: 50px;
  padding: 100px auto;
  font-family: "Open Sans", Arial, sans-serif;
  text-shadow: 0 0 1px #ccc, 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.ch-item:hover .ch-thumb {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.5),
    0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-110deg);
  -moz-transform: rotate(-110deg);
  -o-transform: rotate(-110deg);
  -ms-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

.story h3 a {
  color: var(--color-2);
  display: block;
  margin: 20px auto;
  font-size: 12px;
  text-decoration-line: underline;
}

.story .story-details {
  display: none;
}
.story.full-story {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: var(--color-1);
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  overflow: scroll;
}

.story.story.full-story .story-details {
  padding: 50px 20%;
  display: block;
}

.story.full-story .ch-item {
  display: none;
}

@media (max-width: 768px) {
  .story {
    height: 450px;
    width: 100%;
    transform: scale(1);
  }
  .story.pop {
    animation: unset;
  }
  .ch-item,
  .ch-info,
  .ch-thumb {
    border-radius: 0;
  }

  .ch-thumb {
    display: none;
  }

  .ch-info {
    background-size: cover;
  }

  .ch-item h3 {
    font-size: 50px;
    left: 10%;
    top: 20%;
    width: 80%;
  }
  .story.story.full-story .story-details {
    padding: 10px;
  }
}
