.members {
  background: var(--color-1);
  margin: 0;
  height: 100vh;
}

/* @keyframes prtnrsFadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} */

@keyframes prtnrsFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.partners1 {
  position: absolute;
  height: 281px;
  width: 450px;
  margin: 0 auto;
  padding: 30px;
}

.partners1 img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  height: 75%;
  width: 75%;
  left: 40vw;
  top: 30vh;
  /* animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate; */
}

/* .partners1 img {
  animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
} */

.partners1 img.i1 {
  animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-delay: 6s;
}
.partners1 img.i2 {
  animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-delay: 4s;
}
.partners1 img.i3 {
  animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-delay: 2s;
}
.partners1 img.i4 {
  animation-name: prtnrsFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-delay: 0;
}
