* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.story {
  /* min-height: 100%; */
  background-color: var(--color-1);
  padding: 0px;
  margin: 0;
}

.story-img1 {
  position: relative;
}

.story-banner {
  vertical-align: middle;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  opacity: 0.5;
  margin: auto;
  padding: 0% 0% 2% 0%;
  height: 100vh;
  background-size: cover;
}

.story-title1 {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: -10vh;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.story-title1 h1 {
  color: var(--color-2);
  margin: 0;
  font-size: 400%;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-weight: 100;
}

.story-images {
  position: relative;
  left: 10%;
  width: 60%;
  margin: 0 auto;
}

.story-images img {
  margin: 0 auto;
}

.story-partner {
  position: relative;
  top: -98vh;
  left: 80%;
  height: 11vh;
  max-width: 12vw;
}

.story-img {
  width: 80%;
}

.story-text {
  position: relative;
  left: 5%;
  width: 60%;
  text-align: justify;
  color: var(--color-2);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  margin: 30px auto;
  font-size: 1.3rem;
  line-height: 1.7rem;
  padding: 0;
}

/* .extra-space {
  height: 50px;
} */

@media (max-width: 768px) {
  .story-banner {
    height: 100%;
  }
  .story-title1 {
    font-size: 2vw;
    text-align: center;
  }
  .story-text {
    width: 80%;
    font-size: 5vw;
    line-height: 1.5;
    left: 0;
    margin: 0 auto;
  }
  .story-img {
    width: 100vw;
    left: 0;
  }
  .story-images {
    left: 0;
    width: 100%;
  }
}
