.story {
  /* min-height: 100%; */
  background-color: var(--color-1);
  padding: 50px;
}

.img1 {
  height: auto;
  vertical-align: middle;
  height: 50%;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 40px auto;
}

.text {
  width: 50%;
  text-align: left;
  color: aliceblue;
  justify-content: center;
  display: flex;
  font-family: var(--main-font);
  margin: 0 auto;
  font-size: 18px;
}