.dot {
  background: var(--color-2);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dot:hover {
  background: white;
  transform: scale(5);
  cursor: default;
  animation: unset;
}

.map-img {
  padding: 20px;
  color: palevioletred;
}

.spectrum {
  position: absolute;
  z-index: 100;
  margin: 50px 0;
}

.spectrum:hover li {
  transition: all .5s ease;
  height: 25px;
}

.filter-spectrum {
  display: flex;
  justify-content: center;
}

.spectrum-item {
  background: white;
  height: 10px;
  width: 100px;
  transition: all .5s ease;
  display: inline-block;
  cursor: pointer;
}

.spectrum-item:hover .tooltiptext {
  visibility: visible;
  opacity: 1; 
}

.spectrum-item:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(90deg, #E83338, #ff9068)
}
.spectrum-item:nth-child(2) {
  background: linear-gradient(90deg, #ff9068, #FFB75E);
}
.spectrum-item:nth-child(3) {
  background: linear-gradient(90deg, #FFB75E, #8DC26F);
}
.spectrum-item:nth-child(4) {
  background: linear-gradient(90deg, #8DC26F, #64b3f4);
}
.spectrum-item:nth-child(5) {
  background: linear-gradient(90deg, #64b3f4, #6441A5);
}
.spectrum-item:nth-child(6) {
  background: linear-gradient(90deg, #6441A5, #fc67fa);
}
.spectrum-item:last-child {
  border-top-right-radius: 10px;
  background: linear-gradient(90deg, #fc67fa, #f4c4f3);
  border-bottom-right-radius: 10px;
}


.tooltip {
  height: 15px;
  width: 15px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, .3);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  font-family: var(--main-font);
  margin-left: -60px;
  opacity: 0;
  font-size: 25px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .3) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font-size: 5px;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(2.05, 2.05, 2.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}