.map {
  background: var(--color-1);
  overflow: hidden;
}

.spectrum-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 5%;
}

.map-add-project-btn {
  height: 40px;
  position: absolute;
  z-index: 99;
  bottom: 5%;
  font-size: 20px;
  color: var(--color-2);
  left: calc(50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  padding: 0 15px;
}

.map-add-project-btn:hover {
  background: var(--color-2);
  color: var(--color-1);
}
.map-add-project-btn i {
  margin: 0 5px 0 0;
  line-height: 40px;
}
.spectrum-container:hover .spectrum-popup {
  display: none;
}

.land-map {
  position: absolute;
  z-index: 0;
}

.spectrum-popup {
  position: absolute;
  color: white;
  z-index: 100;
  font-family: var(--main-font);
  top: -25px;
  background: var(--dark-transparent);
  padding: 2px 20px;
}

.spectrum-popup::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  top: 30px;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--dark-transparent);
}

@media (max-width: 768px) {
  .spectrum-popup {
    display: none;
  }
}
