.filter-modal {
  position: fixed;
  padding: 20px;
  z-index: 100;
  height: 70vh;
  top: 15vh;
  left: 30vw;
  width: 40vw;
  overflow-y: auto;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--light-transparent) !important;
}

.sdgs-checkboxes {
  max-width: 100%;
}

.sdgs-checkboxes > div {
  margin: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#close-filter {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

#close-filter:hover {
  color: var(--color-2);
}

.filter-btns {
  position: fixed;
  bottom: 40px;
  z-index: 120;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.filter-btn {
  background: var(--color-2);
  color: var(--color-1);
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  padding: 5px 20px;
  font-size: 1rem;
  text-transform: capitalize;
}

.filter-btn:hover {
  background: var(--color-1);
  color: var(--color-5);
  cursor: pointer;
}
.filter-btn i {
  padding-right: 5px;
}
.center-w-50 {
  width: 80%;
  margin-left: 10%;
}

.label-sm {
  font-size: 1.1rem;
  color: #666;
}

@media (max-width: 768px) {
  .filter-modal {
    left: 5vw;
    width: 90vw;
  }
  .center-w-50 {
    width: 100%;
    margin-left: 0;
  }

  .filter-btn {
    background: var(--color-2);
    color: var(--color-1);
    border: none;
    margin: 0 10px;
    padding: 5px 5px;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
