.filter {
  height: 40px;
  width: 100px;
  position: absolute;
  z-index: 100;
  bottom: 5%;
  left: calc(50% - 50px);
  border: solid 1px var(--color-2);
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: var(--smooth);
}

.filter a {
  font-family: var(--main-font);
  color: var(--color-2);
  font-size: 20px;
  line-height: 2;
}

.filter:hover {
  height: 70%;
  width: 70%;
  left: 15%;
}

.filter:hover .filter-input {
  visibility: visible;
  transition-delay: 1s;
  opacity: 1;
}

.filter:hover .spectrum {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}
.filter-input {
  text-align: left;
  visibility: hidden;
  opacity: 0;
  margin: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filter-label {
  font-size: 16px;
  display: inline;
  margin: 20px;
}
.filter-input-text {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.filter-btn {
  height: 30px;
  width: 120px;
  background: transparent;
  color: var(--color-2);
  margin: 20px;
  border: unset;
  border: solid 1px var(--color-2);
  outline: none;
}

.filter-input p {
  color: var(--color-2);
}
