.filter-modal {
  position: absolute;
  z-index: 100;
  height: 80vh;
  top: 14vh;
  left: 14vh;
  width: 80vw;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--light-transparent) !important;
}

#close-filter {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

#close-filter:hover {
  color: var(--color-2);
}

.filter-btn {
  position: absolute;
  bottom: 40px;
  z-index: 120;
  width: 100px;
  height: 40px;
  background: var(--light-transparent);
  border: none;
  font-family: var(--main-font);
  text-transform: uppercase;
  color: var(--color-5);
  left: calc(50vw - 50px);
  cursor: pointer;
  font-size: 1.2rem;
}
.filter-btn:hover {
  background: var(--light-transparent);
  font-family: var(--main-font);
  text-transform: uppercase;
  color: var(--color-5);
  left: calc(50vw - 50px);
  background: var(--color-2);
  color: aliceblue;
}
