footer {
  margin-top: 100px;
  margin-bottom: 0;
}
.footer-grid {
  background: var(--color-1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 100px;
  border-top: 1px solid #ccc;
  background: #ddd;
}

.footer-col {
  height: 100%;
  padding: 20px;
}

.footer-col-title {
  font-weight: 500 !important;
  font-size: 1rem !important;
  text-align: left;
}
.fa-heart {
  color: crimson;
}
.footer-contact-links {
  list-style: none;
  padding: 0;
}

.footer-contact-links li {
  color: var(--color-3);
  width: 100%;
  padding-top: 10px;
}

.footer-logo {
  width: 40%;
}

.footer-contact-links a {
  color: var(--color-3);
  font-size: 0.8rem;
  padding: 6px;
}

.footer-contact-links li:hover a,
.footer-contact-links li:hover i {
  color: var(--color-2);
  text-decoration: underline;
}

.fa-angle-double-right {
  color: #aaa;
}

.footer-link {
  padding-left: 0 !important;
}

.footer-bottom {
  background: var(--color-2);
  padding: 15px 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer-bottom h6 {
  line-height: 40px;
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
