.landing {
    font-family: var(--main-font);
    height: 100vh;
    background: var(--color-1);
    display: flex;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

.nav-group {
    display: flex;
    flex-direction: row;
    z-index: 10;
    transform: translateX(20vw)
}

.nav-item {
    text-align: center;
    line-height: 100vh;
    list-style: none;
    width: 50vw;
    height: 100vh;
}

.nav-link {
    font-family: var(--main-font);
    color: #99b;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 100;
    display: inline;
    margin: 0 140px;
    z-index: 1;
    text-decoration: none;
}

.nav-link:hover {
    cursor: default;
}

.nav-link.active {
    cursor: pointer;
    color: var(--color-2);
    transition: var(--smooth);
    font-weight: 500;
}

.circle {
    opacity: .2;
    height: 70vh;
    width: 70vh;
    position: absolute;
    border-radius: 50%;
    left: 33%;
    z-index: 0;
    background: url('https://source.unsplash.com/random');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.up-rec,
.down-rec {
    height: 30vh;
    width: 700px;
    position: absolute;
    z-index: 1;
    background: url('https://source.unsplash.com/random');
    background-size: cover;
    background-attachment: fixed;
    opacity: .3;
    transition: left ease 1s, right ease 1s;
    background-repeat: no-repeat;
}

.up-rec {
    top: 10%;
    left: 20%;
}

.down-rec {
    bottom: 10%;
    right: 20%;
}

.up-rec-overlay,
.down-rec-overlay {
    mix-blend-mode: screen;
    opacity: .8;
    position: absolute;
    height: 30vh;
    width: 700px;
    z-index: 5;
    transition: ease 1s;
}

.down-rec-overlay {
    background: var(--color-2);
    bottom: 10%;
    right: 20%;
}

.up-rec-overlay {
    background: var(--color-4);
    top: 10%;
    left: 20%;
}

.social {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 11;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.social-item {
    list-style: none;
}

.social-icon {
    font-size: 35px;
    color: var(--color-2);
}

.nav {
    z-index: 5;
    transition: var(--smooth);
}

@media (max-width: 1024px) {
    .circle {
        width: 60vw;
        height: 60vw;
        left: 23vw;
    }

    .navbar {
        display: none;
    }

    .nav-group {
        transform: translateX(25vw);
    }

    .up-rec,
    .down-rec,
    .down-rec-overlay,
    .up-rec-overlay {
        height: 20vh;
    }

    .up-rec,
    .up-rec-overlay {
        top: 20%;
        left: 20%;
    }

    .down-rec,
    .down-rec-overlay {
        bottom: 20%;
        right: 20%;
    }
}

@media(max-width: 768px) {
    .navbar {
        display: none;
    }

    .nav-link {
        font-size: 40px;
    }

    .nav-group {
        transform: translateX(-4vw);
    }
}

@media(max-width: 400px) {
    .navbar {
        display: none;
    }

    .up-rec,
    .down-rec,
    .down-rec-overlay,
    .up-rec-overlay {
        width: 250px;
    }

    .nav-link {
        font-size: 30px;
    }

    .nav-group {
        transform: translateX(-8vw);
    }

    .social {
        right: 30vw;
    }

    .arrows {
        right: 33vw;
    }
}