/* ---------------------------- main landing component div-------------------------- */
.landing {
  font-family: var(--main-font);
  height: 100vh;
  background: var(--color-1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: -1;
  overflow: hidden;
}

/* ------------------------------------ navigation group----------------------------------- */
.effect-circle {
  height: 250px;
  width: 250px;
  background: rgba(255, 255, 111, 0.1);
  position: fixed;
  z-index: 3;
  border-radius: 50%;
}

.nav-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 11;
  -webkit-transform: translateX(20vw);
  transform: translateX(20vw);
}

.nav-item {
  text-align: center;
  line-height: 100vh;
  list-style: none;
  width: 50vw;
  height: 100vh;
}

.nav-link {
  font-family: var(--main-font);
  color: rgba(255, 255, 255, 0.1);
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 100;
  display: inline;
  margin: 0 140px;
  z-index: 15;
  text-decoration: none;
}

.nav-link:hover {
  cursor: default;
}

.nav-link.active {
  cursor: pointer;
  color: var(--color-2);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}

/* ------------------------------- navigation group end ------------------------- */

/* ---------------------------------- partners ----------------------------------- */
@-webkit-keyframes prtnrsFadeInOut {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  17% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  25% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  92% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
@keyframes prtnrsFadeInOut {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  17% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }

  25% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  92% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

.partners {
  position: absolute;
  height: 6vw;
  width: 14vw;
  background: -webkit-linear-gradient(
    30deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.3)
  );
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.3)
  );
  border: var(--light-border);
  top: 5vh;
  right: 5vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  max-width: 8vw;
  max-height: 5vw;
  top: 20%;
  opacity: 0;
  -webkit-animation-name: prtnrsFadeInOut;
  animation-name: prtnrsFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

.i1 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.i2 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.i3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  height: 4vw;
}

.i4 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

/* --------------------------------------- partners end---------------------------------- */

.circle {
  opacity: 0.5;
  height: 30vw;
  width: 30vw;
  left: 32%;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle-overlay {
  opacity: 0.7;
  height: 30vw;
  width: 30vw;
  left: 32%;
  position: absolute;
  border-radius: 50%;
  z-index: 3;
  mix-blend-mode: overlay;
  background: -webkit-linear-gradient(90deg, var(--color-2), var(--color-4));
  background: linear-gradient(90deg, var(--color-2), var(--color-4));
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circle video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.up-rec,
.down-rec {
  height: 20vh;
  width: 58vh;
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  -webkit-transition: left ease 1s, right ease 1s;
  transition: left ease 1s, right ease 1s;
  background-repeat: no-repeat;
  -moz-transition: left ease 1s, right ease 1s;
  -ms-transition: left ease 1s, right ease 1s;
  -o-transition: left ease 1s, right ease 1s;
}

.up-rec {
  top: 15%;
  left: 20%;
}

.down-rec {
  bottom: 15%;
  right: 20%;
}

.up-rec-overlay,
.down-rec-overlay {
  mix-blend-mode: screen;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  position: absolute;
  height: 20vh;
  width: 58vh;
  z-index: 5;
  -webkit-transition: left ease 1s, right ease 1s;
  transition: left ease 1s, right ease 1s;
}

.down-rec-overlay {
  background: -webkit-linear-gradient(45deg, var(--color-4), var(--color-4));
  background: linear-gradient(45deg, var(--color-4), var(--color-4));
  bottom: 15%;
  right: 20%;
}

.up-rec-overlay {
  background: -webkit-linear-gradient(45deg, var(--color-2), var(--color-2));
  background: linear-gradient(45deg, var(--color-2), var(--color-2));
  top: 15%;
  left: 20%;
}

.nav {
  z-index: 5;
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<< for the other screens >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1024px) {
  .partners {
    height: 3vw;
    width: 8vw;
  }

  .partners img {
    max-width: 6vw;
    max-height: 2vw;
  }
}
/* for ipad screen size */
@media (max-width: 1024px) {
  .navbar {
    display: none;
  }

  .circle {
    height: 50vw;
    width: 50vw;
    left: 25%;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .circle-overlay {
    width: 50vw;
    height: 50vw;
    left: 25%;
  }

  .effect-circle {
    display: none;
  }
  .up-rec,
  .down-rec,
  .down-rec-overlay,
  .up-rec-overlay {
    height: 13vh;
    width: 50vw;
  }

  .up-rec,
  .up-rec-overlay {
    top: 20%;
    left: 20%;
  }

  .down-rec,
  .down-rec-overlay {
    bottom: 20%;
    right: 20%;
  }

  .nav-link {
    font-size: 6vw;
  }

  .partners {
    top: 5vw;
    right: 5vw;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .circle {
    left: 29%;
  }

  .circle-overlay {
    left: 29%;
  }
}

/* for small phones screen */
@media (max-width: 414px) {
  .navbar {
    display: none;
  }

  .circle {
    height: 50vw;
    width: 50vw;
  }

  .up-rec,
  .up-rec-overlay {
    top: 25%;
  }

  .down-rec,
  .down-rec-overlay {
    bottom: 25%;
  }

  .nav-group {
    margin-left: -80px;
  }

  .nav-link {
    font-size: 35px;
  }

  .arrows {
    right: 5vw;
    bottom: 5vw;
  }
}

/* for xsmall phones screens */

@media (max-width: 375px) and (max-height: 812px) {
  .nav-group {
    margin-left: -110px;
  }

  .nav-link {
    font-size: 8vw;
  }

  .circle,
  .circle-overlay {
    height: 60vw;
    width: 60vw;
    left: 20%;
  }

  .effect-circle {
    display: none;
  }

  .partners {
    top: 5vw;
    right: 5vw;
  }

  .arrows {
    bottom: 5vw;
    right: 5vw;
  }
}
