.stories-filter {
    height: 40px;
    width: 140px;
    position: relative;
    z-index: 99;
    /* top: 15%; */
    text-align: center;
    background: rgba(255, 153, 0, 0.8);
    color: var(--color-1);
    cursor: pointer;
    -webkit-transition: var(--smooth);
    -o-transition: var(--smooth);
    transition: var(--smooth);
    overflow: hidden;
  }

  .stories-filter a {
    font-family: var(--main-font);
    color: var(--color-1);
    font-size: 20px;
    line-height: 2;
  }
  
  .stories-filter a i {
    margin: 0;
  }

  .stories-filter a.close {
    position: absolute;
    right: 40px;
    top: 20px;
  }

  .stories-filter.show {
    height: 55%;
    width: 100%;
    padding: 20px;
    transition-duration: 1s;
    transition: var(--smooth);
  }
  
  .stories-filter.show .stories-filter-input {
    visibility: visible;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 1;
  }
  
  .stories-filter.show a {
    font-size: 40px;
    -webkit-transition: var(--smooth);
    transition: var(--smooth);
  }

  .stories-filter-input {
    text-align: left;
    visibility: hidden;
    opacity: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
    grid-template-columns: 30% 70%;
  }

  .stories-filter-label {
    font-size: 16px;
    display: inline;
    margin: 20px;
    color: var(--color-1);
  }

  .stories-filter-input-text::placeholder {
      color: var(--color-1);
  }

  .stories-filter-input-text {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

  .stories-lens-select {
    background: transparent;
    color: var(--color-1);
    outline: none;
    border: solid 1px var(--color-1);
    font-size: 16px;
    text-align: center;
    height: 46px;
    margin: 0;
  }

  .stories-filter-SDGs p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    color: var(--color-1);
  }

  .stories-filter .btn {
    position: relative;
    color: var(--color-2);
    background-color: var(--color-1);
    bottom: -10px;
  }


  