.members-login-bg {
  height: 100vh;
  background: url(/imgs/members.jpeg);
  background-size: cover;
  background-position-y: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.box {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0% auto;
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.box-form {
  padding: 30px 10% 0 10% !important;
}

.box-input {
  width: 100%;
  height: 50px;
  margin: 10px 0 !important;
}
.box-header-icon {
  color: var(--color-2);
  font-size: 3rem;
  margin: 30px auto;
  line-height: 70px;
  background: var(--color-1);
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.card-actions {
  padding: 0px 10% 30px 10% !important; 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.box-btn {
  width: 100%;
  margin: 20px 0 !important;
  background: var(--color-2) !important;
}

.box-btn:hover {
  background: var(--color-3) !important;
}

.card-actions a:hover {
  color: var(--color-3) !important;
}

@media (max-width: 1024px) {
  .box {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .box {
    width: 80%;
  }
}
