.data {
  background: var(--color-1);
  height: 100vh;
}

.data .banner-full {
  background: rgba(0, 0, 0, 0.7);
}

.data header {
  background: url(/imgs/backs3.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.data section {
  margin: 100px 0;
}
.data-img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 800px;
}
