.data {
  background: var(--color-1);
  height: 100vh;
  overflow: hidden;
}

.data .banner-full {
  background: rgba(0, 0, 0, 0.7);
}

.data header {
  background: url(/imgs/backs3.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.data section {
  margin: 100px 0;
}
.data-img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 800px;
}

.chart-heading {
  color: var(--color-2);
  text-align: center;
  margin-top: 70px;
}

.data .chart-preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; 
}

.chart-preloader .preloader {
  color: var(--color-2);
  position: absolute;
  top: 25%;
  left: 47%;
}

.asylum-seekers-chart select {
  position: relative;
  left: 40%;
}

.demographics-chart select {
  position: relative;
  left: 25%;
}