.data {
  background: var(--color-1);
  height: 100vh;
  overflow-x: hidden;
}

.data .banner-full {
  background: rgba(0, 0, 0, 0.7);
}

.data header {
  background: url(/imgs/backs3.jpg);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
}

.data section {
  margin: 100px 0;
}
.data-img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 800px;
}

.chart-heading {
  color: var(--color-2);
  text-align: center;
  margin-top: 70px;
}

.data .chart-preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.chart-preloader .preloader {
  color: var(--color-2);
  position: absolute;
  top: 25%;
  left: 47%;
}

.asylum-seekers-chart,
.resettlement-chart,
.demographics-chart {
  height: 100vh;
}

.asylum-seekers-chart .chart-select-control {
  left: 40%;
}

.demographics-chart #year-select-control {
  position: relative;
  left: 27%;
}

.demographics-chart #country-select-control {
  position: relative;
  left: 30%;
}
