.story-details {
  background: var(--color-1);
  height: 100vh;
  width: 100vw;
}

.banner-full {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: 100%;
  background-attachment: fixed;
}

.banner-full h1 {
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--color-1);
}

.banner-full h3 {
  text-transform: capitalize;
  color: var(--color-1);
  font-weight: 300;
  margin: 30px 0;
}

.banner-full .line,
.header .line {
  width: 20%;
  height: 2px;
  background: white;
}
