.container {
  padding: 20px;
  width: 70%;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.container:empty {
  padding: 0;
}
.about-intro {
  padding: 20px;
}

#about-routes {
  margin-top: 0;
}

#scroll-sign {
  position: fixed;
  top: 200vh;
}

.heading-theme-1 {
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 20px;
  margin-left: 0;
  text-transform: capitalize;
}

.header-nav {
  margin-top: 50px;
  display: block;
  list-style: none;
}

.header-nav h5 {
  text-transform: uppercase;
  color: var(--color-1);
  font-family: var(--main-font);
  font-size: 1rem !important;
  cursor: pointer;
}

.header-nav i {
  color: var(--color-1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 3rem !important;
  text-align: center;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

.header-nav li {
  margin: 0 20px;
  display: inline-block;
}

.header-nav li:hover i {
  color: var(--color-2);
}

.header-nav li:hover h5 {
  color: var(--color-2);
}

.header-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav li a:hover {
  -webkit-transform: scale(1) translateY(-5px);
  transform: scale(1) translateY(-5px);
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.go-down,
.back-to-top {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.go-down button,
.back-to-top button {
  background: var(--color-2);
  width: 50px;
  height: 50px;
}

.go-down button:hover,
.back-to-top button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.go-down {
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
}

.arrow-btn i {
  color: var(--color-1);
}

.read-more-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1500;
  font-family: var(--main-font);
  text-align: center;
  padding: 20px;
  padding-top: 5%;
  display: none;
  -webkit-animation-name: popup;
  animation-name: popup;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.read-more-wrapper {
  background: #eee;
  width: 40%;
  position: relative;
  left: 30%;
  padding: 40px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popup {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.read-more-close {
  height: 40px;
  width: 40px;
  background: var(--color-2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.read-more-close i {
  font-size: 30px;
  color: var(--color-1);
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

#team {
  margin: 10% 0;
}

.banner-img {
  width: 100%;
}

.banner-title {
  font-size: 4rem;
  color: var(--color-3);
  font-family: var(--main-font);
  text-transform: uppercase;
}

.about section {
  margin: 0px;
}

.about section ul {
  margin: 30px;
}

.about section ul li {
  font-size: 1.2rem;
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 0px 0 20px 50px;
}

.key-strategy {
  margin-bottom: 150px;
}

#team h2 {
  font-size: 2.5rem;
}

#steering h2 {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .team-members {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 20px auto;
    width: 95%;
  }

  .read-more-wrapper {
    width: 100%;
  }

  .header-nav i {
    font-size: 8vw;
  }
  .header-nav h5 {
    font-size: 3vw;
  }
}

@media (max-width: 468px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
