.container {
  margin: 20px auto;
  width: 60%;
}

.heading-theme-1 {
  color: var(--color-5);
  font-size: 5rem;
  font-family: var(--main-font);
  margin: 20px;
  margin-left: 0;
  text-transform: capitalize;
}

.heading-theme-2 {
  color: var(--color-3);
  text-shadow: 1px 1px 4px #555;
  font-size: 4rem;
  font-family: var(--main-font);
  margin: 10px;
  margin-left: 0;
}

.heading-theme-3 {
  color: var(--color-5);
  font-size: 1.2rem;
  font-family: var(--main-font);
  margin: 5px;
  margin-left: 0;
}

.heading-theme-4 {
  color: var(--color-4);
  font-size: 2rem;
  font-family: var(--main-font);
  margin: 10px;
  margin-left: 0;
}

.team .p-theme-1 {
  font-size: 1.5rem;
}

.p-theme-1 {
  color: var(--color-4);
  font-size: 2rem;
  font-family: var(--main-font);
  margin-bottom: 50px;
  margin-left: 0;
  text-align: justify;
}

.about-header {
  margin-bottom: 15%;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

#team {
  margin: 10% 0;
}

.banner-img {
  width: 100%;
}

.banner-title {
  font-size: 4rem;
  color: var(--color-3);
  font-family: var(--main-font);
  text-transform: uppercase;
}

.header-img {
  min-width: 100%;
  min-height: 30vh;
}

.header-text {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  font-size: 50px;
  color: var(--color-3);
  font-family: var(--main-font);
  text-transform: uppercase;
}

.about section ul li {
  font-size: 1.4rem;
  color: var(--color-4);
  font-family: var(--main-font);
  margin: 0px 0 70px 50px;
}

.key-strategy {
  margin-bottom: 150px;
}

#team h2 {
  font-size: 2.5rem;
}

#steering h2 {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .team-members {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 20px auto;
    width: 90%;
  }
}
