.container {
  margin: 20px;
  margin-left: calc(15% + 100px);
  width: 70%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#about-routes {
  margin-top: 0;
}

.heading-theme-1 {
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 20px;
  margin-left: 0;
  text-transform: capitalize;
}

.about-nav {
  display: flex;
  list-style: none;
}

.about-nav h3 {
  text-transform: uppercase;
  color: var(--color-5);
  font-family: var(--main-font);
}

.about-nav h5 {
  text-transform: uppercase;
  color: var(--color-1);
  font-family: var(--main-font);
}

.about-nav i {
  color: var(--color-1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  text-align: center;
}
.about-nav li {
  margin: 0 20px;
}

.about-nav li:hover i {
  color: var(--color-2);
}

.about-nav li:hover h5 {
  color: var(--color-2);
}

.about-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-nav li a:hover {
  -webkit-transform: scale(1) translateY(-5px);
  transform: scale(1) translateY(-5px);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 0.2s;
}

.go-down,
.back-to-top {
  text-align: center;
  cursor: pointer;
}

.go-down {
  position: absolute;
  bottom: 50px;
}

.go-down i,
.back-to-top i {
  position: relative;
  font-size: 50px;
  color: var(--color-2);
}

.read-more-popup {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1500;
  font-family: var(--main-font);
  text-align: center;
  padding: 20px;
  padding-top: 5%;
  display: none;
  -webkit-animation-name: popup;
  animation-name: popup;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.read-more-wrapper {
  background: #eee;
  width: 40%;
  position: relative;
  left: 30%;
  padding: 40px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes popup {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popup {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.read-more-close {
  height: 40px;
  width: 40px;
  background: var(--color-2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.read-more-close i {
  font-size: 30px;
  color: var(--color-1);
}

.heading-theme-2 {
  color: var(--color-2);
  font-family: var(--main-font);
  margin: 10px;
  margin-left: 0;
  text-transform: uppercase;
}

.heading-theme-2 i {
  font-size: 4rem;
}

.heading-theme-3 {
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 5px;
  margin-left: 0;
  font-weight: 500;
}

.heading-theme-4 {
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 10px;
  margin-left: 0;
}

.team .p-theme-1 {
  font-size: 1.5rem;
}

.p-theme-1 {
  color: var(--color-5);
  font-size: 1.5rem;
  font-family: var(--main-font);
  margin-bottom: 30px;
  margin-left: 0;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

#team {
  margin: 10% 0;
}

.banner-img {
  width: 100%;
}

.banner-title {
  font-size: 4rem;
  color: var(--color-3);
  font-family: var(--main-font);
  text-transform: uppercase;
}

.about section ul li {
  font-size: 1.4rem;
  color: var(--color-5);
  font-family: var(--main-font);
  margin: 0px 0 70px 50px;
}

.key-strategy {
  margin-bottom: 150px;
}

#team h2 {
  font-size: 2.5rem;
}

#steering h2 {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .team-members {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 20px auto;
    width: 90%;
  }
  .about-nav h5 {
    font-size: 0.8rem;
  }

  .about-nav i {
    font-size: 0.5rem;
  }

  .about-nav li {
    margin: 10px;
  }

  .go-down i,
  .back-to-top i {
    font-size: 50px;
  }

  .read-more-wrapper {
    width: 100%;
  }
  .about-nav i {
    font-size: 50px;
  }
}

@media (max-width: 468px) {
  .container {
    margin: 0;
    width: 100%;
  }
}
