.about {
  background: var(--color-1);
  height: 100vh;
}

p {
  font-size: 20px;
  margin: 0;
  padding: 30%;
  font-family: var(--main-font);
}

.team li img {
  height: 25vw;
  width: 25vw;
}

.team li {
  display: inline-block;
  margin: 30px;
}