.admin-form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px auto;
}

.admin-form textarea {
  border: none;
  border: 1px solid var(--color-3);
  background: transparent;
  outline: none;
  height: 40px;
  width: 100%;
  font-family: var(--main-font);
  color: #333;
  font-size: 16px;
  height: 300px;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button,
.admin-form button {
  background-color: #666;
  color: #333;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100%;
  margin: 50px 0;
  font-size: 18px;
  padding: 10px 20px;
  text-align: center;
}

.admin-img-update {
  width: 100px;
  margin: 0 auto;
}

.admin-form label {
  text-transform: capitalize;
  font-size: 24px;
  color: var(--color-5);
}
/* The popup form - hidden by default */
.form-popup {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 30px 0;
}

.admin-form input {
  background: var(--color-1);
  height: 50px;
  width: 100%;
  display: block;
  margin: 40px auto;
  border: none;
  color: var(--color-3);
  font-size: 1.5rem;
  padding: 0 30px;
  border-radius: 20px;
}

.admin-form input::placeholder {
  color: #333;
}

.admin-form select {
  width: 100%;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.selected-location {
  position: absolute;
  background-color: var(--dark-transparent);
  color: var(--color-1);
  z-index: 100;
}

.marker {
  height: 60px;
  width: 60px;
}

.marker i {
  color: crimson;
  font-size: 30px;
  position: relative;
  top: -30px;
  left: -30px;
}

.done-img {
  display: none;
  background: var(white);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.done-img img {
  height: 150px;
}

.loading {
  display: block;
  height: 50px;
  margin: 20px auto;
}
