.admin-form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.admin-form form {
  padding: 100px;
}

.admin-form textarea {
  display: block;
  border: none;
  border: 1px solid var(--color-3);
  background: transparent;
  outline: none;
  width: 80%;
  font-family: var(--main-font);
  font-size: 16px;
  background: var(--color-1);
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 40px auto;
}

.admin-form textarea::placeholder {
  font-size: 24px;
  color: #333;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.admin-form button,
.btn-admin {
  background-color: var(--color-2);
  color: var(--color-5);
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 80%;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.admin-form button:disabled {
  background-color: var(--color-3);
  cursor: not-allowed;
}
.admin-img-update {
  width: 100px;
  display: block;
  margin: 30px auto;
}

/* The popup form - hidden by default */
.form-popup {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 40px auto;
}

.admin-form input[type="text"],
.admin-form input[type="date"],
.admin-form input[type="number"],
.admin-form input[type="file"] {
  background: var(--color-1);
  height: 50px;
  width: 80%;
  display: block;
  margin: 40px auto;
  border: none;
  font-size: 1rem;
  padding: 0 30px;
  border-radius: 20px;
}

.admin-form input::placeholder {
  color: #333;
}
.admin-form label {
  color: var(--color-5);
  font-size: 24px;
  padding-left: 10%;
  text-transform: capitalize;
}
.admin-form select {
  width: 80%;
  display: block;
  margin: 0 auto;
  height: 55px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.menu-full-width {
  width: 100%;
}

.marker {
  height: 60px;
  width: 60px;
}

.marker i {
  color: crimson;
  font-size: 30px;
  position: relative;
  top: -30px;
  left: -30px;
}

.done-img {
  display: none;
  background: var(white);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.done-img img {
  height: 150px;
}

.loading {
  display: block;
  height: 50px;
  margin: 20px auto;
}
