.member-card {
  height: 300px;
  width: 100%;
}
.member-card:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background: var(--color-1);
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.card-img {
  height: 200px !important;
  background-size: cover !important;
}

@media (max-width: 768px) {
  .member-card {
    height: 600px;
  }

  .card-img {
    height: 500px !important;
  }
}
