#page-numbers {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }
  
#page-numbers li {
margin-right: 0.3em;
}

.projectsPages #page-numbers li Button.active-page-number {
    background-color: var(--color-2);
    color: #fff;
}

.projectsPages .heading-theme-2 {
    color: var(--color-2);
}