.nav-rec {
  position: relative;
  height: 10px;
  width: 22px;
  background: rgba(255, 255, 255, 0.5);
}

.rounded {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.nav-rec-text {
  color: var(--color-2);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 10px;
  text-transform: uppercase;
  position: relative;
  left: 30px;
  display: none;
}

.nav-rec:hover {
  transition: var(--smooth);
  background: var(--color-2);
}

.nav-rec:active {
  background: var(--color-3);
  /* border-radius: 50%; */
}

.nav-rec:active p {
  color: var(--color-3);
}

.nav-rec.active {
  height: 10px;
  width: 22px;
  background: var(--color-2);
  transition: var(--smooth);
}

.nav-rec.active.rounded {
  height: 22px;
  width: 22px;
}

.nav-rec.active p {
  line-height: 10px;
}

.nav-rec.active.rounded p {
  line-height: 0px;
}

.nav-rec:hover p {
  display: initial;
  animation: fadeInSlideRight 0.5s ease;
}

.navbar {
  position: fixed;
  height: 90vh;
  left: 3vw;
  z-index: 100;
  top: 5vh;
}

.navbar-middle {
  position: relative;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14vh;
  width: 14vh;
  border-radius: 50%;
  border: var(--light-border);
  background: linear-gradient(60deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.logo-img {
  max-width: 95px;
}

.counter {
  height: 6vh;
  width: 14vh;
  position: relative;
  background: linear-gradient(
    60deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.3)
  );
  border: var(--light-border);
}

.counter span {
  color: var(--color-2);
  margin-left: 6px;
}

.counter h4 {
  text-align: center;
  margin: 0;
  color: var(--color-3);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6vh;
}

.back-gredient {
  position: fixed;
  z-index: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  height: 100vh;
  width: 15%;
}
