.nav-rec {
  position: relative;
  height: 10px;
  width: 22px;
  background: rgba(255, 255, 255, 0.9);
}

.rounded {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.nav-rec-text {
  color: var(--color-2);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 10px;
  text-transform: uppercase;
  position: relative;
  left: 30px;
  display: none;
}

.nav-rec:hover {
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  background: var(--color-2);
}

.nav-rec:active {
  background: var(--color-3);
  /* border-radius: 50%; */
}

.nav-rec:active p {
  color: var(--color-3);
}

.nav-rec.active {
  height: 10px;
  width: 22px;
  background: var(--color-2);
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}

.nav-rec.active.rounded {
  height: 22px;
  width: 22px;
}

.nav-rec.active p {
  line-height: 10px;
}

.nav-rec.active.rounded p {
  line-height: 0px;
}

.nav-rec:hover p {
  display: initial;
  -webkit-animation: fadeInSlideRight 0.5s ease;
  animation: fadeInSlideRight 0.5s ease;
}

.navbar {
  position: fixed;
  height: 100vh;
  z-index: 100;
  padding: 5vh;
  background: rgba(0, 0, 0, 0.8);
}

.navbar-middle {
  position: relative;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 14vh;
  width: 14vh;
  border-radius: 50%;
  border: var(--light-border);
  background: var(--color-3);
}

.logo-img {
  max-width: 95px;
}

.counter {
  height: 6vh;
  width: 16vh;
  position: absolute;
  background: var(--color-3);
}

.counter span {
  color: var(--color-4);
  margin-left: 6px;
}

.counter h4 {
  text-align: center;
  margin: 0;
  color: var(--color-2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6vh;
}

.back-gredient {
  position: fixed;
  z-index: 99;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(rgba(0, 0, 0, 0)),
    to(rgba(10, 0, 30, 0.7))
  );
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(10, 0, 30, 0.7));
  height: 100vh;
  width: 15%;
}

@media (max-width: 1024px) {
  .navbar {
    width: 100px;
    padding: 0;
  }
  .logo {
    height: 100px;
    width: 100px;
  }
  .counter {
    width: 100px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .counter,
  .navbar-middle {
    display: none;
  }
  .navbar {
    background: unset;
  }
}
