.nav-rec {
  width: 30px;
  min-height: 15px;
  background: var(--light-transparent);
}

.rounded {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.navbar {
  position: absolute;
  height: 66vh;
  top: 20vh;
  z-index: 100;
  width: 200px;
  background: var(--dark-transparent);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 2px 0px 10px var(--dark-transparent);
  box-shadow: 2px 0px 10px var(--dark-transparent);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar-middle {
  height: 60%;
  list-style: none;
  position: relative;
  padding: 0 60px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-middle .navbar-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.navbar-middle .navbar-link:hover .nav-rec-menu {
  display: block;
}

.navbar-middle .navbar-link:hover .nav-rec-text {
  color: var(--color-2);
}

.navbar-middle .navbar-link:hover .nav-rec {
  background-color: var(--color-2);
}

.nav-rec-text {
  font-family: var(--main-font);
  color: var(--color-3);
  margin: 0 5px;
  text-transform: uppercase;
}

.nav-rec-menu {
  display: none;
  list-style: none;
  position: absolute;
  margin-left: 30px;
  margin-top: -20px;
  font-family: var(--main-font);
  width: 200px;
  z-index: 1000000;
}

.nav-rec-menu li {
  margin: 0;
  height: 30px;
  padding: 0;
  color: var(--color-1);
  background: var(--dark-transparent);
  padding: 3px 20px;
}
.nav-rec-menu li a {
  color: var(--color-1);
  font-weight: 100;
  text-transform: capitalize;
}

.nav-rec-menu li:hover {
  background: var(--color-2);
}
.navbar-link:hover .nav-rec .nav-rec-menu {
  display: block;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  left: 30px;
  z-index: 1000;
  min-width: 150px;
}

.logo-img {
  max-width: 20vh;
  margin: 0;
}

.toggle-nav {
  position: relative;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 40px;
  height: 50px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  top: 50%;
  left: 200px;
  background: var(--dark-transparent);
  -webkit-box-shadow: 0px 0px 5px var(--dark-transparent);
  box-shadow: 0px 0px 5px var(--dark-transparent);
}

.toggle-nav i {
  color: var(--color-1);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin: 14px 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 20px;
}
.toggle-nav:hover i {
  color: var(--color-2);
}

@media (max-width: 768px) {
  .counter,
  .navbar-middle {
    display: none;
  }
  .navbar {
    display: none;
  }
  .toggle-nav {
    display: none;
  }
  .logo-img {
    max-width: 100px;
    margin: 0;
  }
}
