.nav-rec {
  width: 25px;
  min-height: 10px;
  background: var(--color-5);
  border-radius: 2px;
}

.rounded {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.navbar {
  position: absolute;
  height: 100vh;
  top: 0;
  z-index: 100;
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  border-right: solid 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar.collapsed {
  top: 25vh;
  height: 50vh;
  width: 60px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar.collapsed .navbar-middle {
  padding: 0 15px;
}

.navbar.collapsed .navbar-middle li {
  height: 50px;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.navbar.collapsed .navbar-middle .nav-rec-text {
  opacity: 0;
}

.navbar-middle {
  height: 90%;
  list-style: none;
  position: relative;
  padding: 0 10px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.navbar-middle .navbar-link {
  display: grid;
  grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60%;
  height: 7vh;
}

.navbar-middle .navbar-link:hover .nav-rec-menu {
  display: block;
}

.navbar-middle .navbar-link:hover .nav-rec-text {
  color: var(--color-2);
}

.navbar-middle .navbar-link:hover .nav-rec {
  background-color: var(--color-2);
  margin-left: 10px;
  -webkit-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
}

.nav-rec-text {
  font-family: var(--main-font);
  color: var(--color-3);
  margin: 0 5px;
  text-transform: uppercase;
}

.nav-rec-menu {
  display: none;
  list-style: none;
  position: absolute;
  font-family: var(--main-font);
  width: 160px;
  z-index: 10000;
  padding: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-rec-menu li {
  margin: 0;
  height: 30px;
  width: 100%;
  margin: 0;
  background: white;
}
.nav-rec-menu li a {
  color: var(--color-3);
  font-weight: 100;
  padding: 10px 20px;
  text-transform: capitalize;
}

.nav-rec-menu li:hover {
  background: var(--color-2);
}

.nav-rec-menu li:hover a {
  color: var(--color-1);
}
.navbar-link:hover .nav-rec .nav-rec-menu {
  display: block;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 35px;
  z-index: 1000;
  width: 140px;
}

.logo-img {
  max-width: 100%;
  margin: 0;
}

.navbar-link.active .nav-rec-text {
  color: var(--color-2);
}

.navbar-link.active .nav-rec {
  background: var(--color-2);
}
@media (max-width: 768px) {
  .counter,
  .navbar-middle {
    display: none;
  }
  .navbar {
    display: none;
  }

  .logo-img {
    max-width: 100px;
    margin: 0;
  }
}
