@import url("https://fonts.googleapis.com/css?family=Baloo+Tammudu|Comfortaa|Dosis|Exo+2|Noto+Sans+JP|Nunito|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Kadwa:700|Orbitron|Righteous|Russo+One");
@import url("https://fonts.googleapis.com/css?family=Catamaran");

:root {
  /* <<<<< theme number 1 >>>>>>> */
  /* --color-1: #363636;
  --color-2: #ef8e38;
  --color-3: #181818;
  --color-4: #0094ab;
  --color-5: #c1b5a1; */
  /* <<<<< theme number 2 >>>>>>> */
  /* --color-1: #3c3c3b;
  --color-2: #ef8e38;
  --color-3: #d2e5ed;
  --color-4: #eee;
  --color-5: #8c8c8a; */
  /* <<<<< theme number 3 >>>>>>> */
  --color-1: #d5d5d3;
  --color-2: #fcbc53;
  --color-3: white;
  --color-4: #2e2e2e;
  --color-5: #959593;

  --light-transparent: rgba(255, 255, 255, 0.3);
  --light-border: solid 1px var(--light-transparent);
  --main-font: "Catamaran", Helvetica, Arial, sans-serif;
  --smooth: all 1300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  margin: 0;
  background: var(--color-1);
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

b {
  color: var(--color-2);
  text-shadow: 1px 1px 4px #555;
  text-transform: capitalize;
}

section {
  margin: 220px auto;
}

i {
  margin: 20px;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--color-2);
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  z-index: 1500;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: splash;
  animation-name: splash;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.splash-screen img {
  background: var(--color-4);
  padding: 3% 100%;
  z-index: 1501;
  position: absolute;
}

label {
  font-family: var(--main-font);
  display: block;
  color: var(--color-2);
  font-size: 3vw;
  margin: 0;
  -ms-grid-column-align: left;
  justify-self: left;
}

.title {
  color: var(--color-2);
  font-size: 3vw;
  font-family: var(--main-font);
  text-align: center;
  padding-top: 100px;
}

.arrows {
  -webkit-transform: rotate(90deg) translateX(-40px);
  transform: rotate(90deg) translateX(-40px);
  position: absolute;
  bottom: 2.5vh;
  right: 50px;
  z-index: 11;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
  background: var(--color-4);
  border-radius: 50px;
}

.arrows img {
  width: 50px;
  filter: brightness(1.5);
}

.arrows img:hover {
  -webkit-filter: brightness(1.5) saturate(0.4);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.5" /><feFuncG type="linear" slope="1.5" /><feFuncB type="linear" slope="1.5" /></feComponentTransfer><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.5278 0.429 0.043199999999999995 0 0 0.1278 0.833 0.043199999999999995 0 0 0.1278 0.429 0.44320000000000004 0 0 0 0 0 1 0" /></filter></svg>#filter');
  filter: brightness(1.5) saturate(0.4);
}

.arrows img:nth-child(2) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 20px;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.grow {
  -webkit-animation-name: grow;
  animation-name: grow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fadeInFast {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}
input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-5);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-5);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-5);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-5);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-5);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--color-5);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: var(--color-5);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-5);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-5);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-5);
}
video {
  width: 100vw;
  height: 120vh;
}
select {
  background: transparent;
  color: var(--color-2);
  outline: none;
  border: solid 1px var(--color-2);
  font-size: 16px;
  text-align: center;
  height: 46px;
  margin: 0;
}

option {
  font-size: 16px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@-webkit-keyframes fadeInSlideRight {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0px;
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 30px;
  }
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0px;
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 30px;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes grow {
  from {
    height: 30vw;
    width: 30vw;
  }

  50% {
    border-radius: 50%;
  }
  to {
    height: 100vw;
    width: 100vw;
    border-radius: 0;
    top: 0;
    left: 0;
  }
}

@keyframes grow {
  from {
    height: 30vw;
    width: 30vw;
  }

  50% {
    border-radius: 50%;
    height: 100vw;
  }
  to {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    left: 0;
  }
}

.color-1 {
  color: var(--color-1) !important;
}

.color-2 {
  color: var(--color-2) !important;
}

.color-3 {
  color: var(--color-3) !important;
}

.color-4 {
  color: var(--color-4) !important;
}

.color-5 {
  color: var(--color-5) !important;
}
@media (max-width: 768px) {
  .arrows {
    left: calc(50% - 50px);
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }
}
