@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
@import url("https://fonts.googleapis.com/css?family=Catamaran");

:root {
  /* --color-1: #3c3c3b;
  --color-2: #ef8e38;
  --color-3: #d2e5ed;
  --color-4: #eee;
  --color-5: #8c8c8a; */
  /* --light-transparent: rgba(255, 255, 255, 0.3); */
  /* /* --dark-transparent: rgba(0, 0, 0, 0.5); */
  /* --light-border: solid 1px var(--light-transparent); */
  --main-font: "Catamaran", Helvetica, Arial, sans-serif;
  --smooth: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);

  /* 11111111111111111111111111111111111111111111 */
  /* --color-1: #eee;
  --color-2: #ff6644;
  --color-3: #d2e5ed;
  --color-4: #eee;
  --color-5: #8c8c8a; */

  /* 11111111111111111111111111111111111111111111 */
  --color-1: #efefef;
  --color-2: #f90;
  --color-3: #777;
  --color-4: #003049;
  --color-5: #444;
  /* 11111111111111111111111111111111111111111111 */
  /* --color-1: #fff;
  --color-2: #f26101;
  --color-3: #dedede;
  --color-4: #313732;
  --color-5: #8aa8b0; */
  --light-transparent: rgba(255, 255, 255, 0.6);
  --dark-transparent: rgba(0, 0, 0, 0.8);

  /* 11111111111111111111111111111111111111111111 */
  /* --color-1: #456f74;
  --color-2: #eb5937;
  --color-3: #403d3c;
  --color-4: #d3cbbd;
  --color-5: #403d3c;
  --light-transparent: rgba(255, 255, 255, 0.6);
  --dark-transparent: rgba(0, 0, 0, 0.5); */
}

body,
html {
  margin: 0;
  background: var(--color-1);
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--main-font);
}

a {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.7rem;
  font-weight: bolder;
}

h2 {
  font-size: 2.4rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}

b {
  text-transform: capitalize;
  font-weight: bolder;
}

b i {
  font-size: 2rem;
}

section {
  margin: 50px auto;
}

.btn {
  background: transparent;
  border: solid 1px var(--color-2);
  padding: 10px 30px;
  color: var(--color-2);
  cursor: pointer;
  margin: 20px auto;
}

.btn i {
  margin: 0 10px;
}

.btn:hover {
  background: var(--color-2);
  color: var(--color-1);
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
.upper {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.header {
  background: black;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header video {
  margin: 0;
  height: 130%;
  width: 330%;
  padding: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
}

.header h3 {
  font-weight: 300;
  margin: 30px 0;
  position: relative;
  color: var(--color-3);
  z-index: 2;
  mix-blend-mode: screen;
  padding: 10px 30px;
}

.header-subtitle {
  font-size: 1.7rem;
}
.header-text {
  font-size: 4rem;
  color: var(--color-2);
  font-family: var(--main-font);
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

label {
  font-family: var(--main-font);
  display: block;
  color: var(--color-2);
  font-size: 3vw;
  margin: 0;
  -ms-grid-column-align: left;
  justify-self: left;
}

.title {
  color: var(--color-2);
  font-size: 3vw;
  font-family: var(--main-font);
  text-align: center;
  padding-top: 100px;
}

.arrows {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 11;
  cursor: pointer;
  margin: 0;
  -webkit-transition: var(--smooth);
  transition: var(--smooth);
}

.arrows i {
  color: var(--color-2);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 2rem;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.grow {
  -webkit-animation-name: grow;
  animation-name: grow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeInFast {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.fadeInSlow {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-3);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-3);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-3);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--color-3);
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-3);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--color-3);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: var(--color-3);
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid var(--color-3);
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--color-2);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-3);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-3);
}
video {
  width: 100vw;
  height: 120vh;
}
select {
  background: transparent;
  color: var(--color-2);
  outline: none;
  border: solid 1px var(--color-2);
  font-size: 16px;
  text-align: center;
  height: 46px;
  margin: 0;
}

option {
  color: var(--color-5);
  font-size: 16px;
  background: var(--color-1);
}

option:hover {
  color: var(--color-3);
  background: var(--color-2);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@-webkit-keyframes fadeInSlideRight {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0px;
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 30px;
  }
}

@keyframes fadeInSlideRight {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: 0px;
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 30px;
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes grow {
  from {
    height: 30vw;
    width: 30vw;
  }

  50% {
    border-radius: 50%;
  }
  to {
    height: 100vw;
    width: 100vw;
    border-radius: 0;
    top: 0;
    left: 0;
  }
}

@keyframes grow {
  from {
    height: 30vw;
    width: 30vw;
  }

  50% {
    border-radius: 50%;
    height: 100vw;
  }
  to {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    left: 0;
  }
}

.color-1 {
  color: var(--color-1) !important;
}

.color-2 {
  color: var(--color-2) !important;
}

.color-3 {
  color: var(--color-3) !important;
}

.color-4 {
  color: var(--color-4) !important;
}

.color-5 {
  color: var(--color-5) !important;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 100px;
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}
.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.grid-6 a {
  width: 100%;
}

.center {
  text-align: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.bg-1 {
  background-color: var(--color-1);
}
.bg-2 {
  background-color: var(--color-2);
}

.bg-3 {
  background-color: var(--color-3);
}
.bg-4 {
  background-color: var(--color-4);
}
.bg-5 {
  background-color: var(--color-5);
}

.p-theme-2 {
  font-size: 0.9rem;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}


.padding-20 {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}
.margin-20 {
  margin: 20px;
}

.my-50 {
  margin: 50px auto;
}

.start-icon {
  margin-right: 20px;
}

.main-font {
  font-family: var(--main-font) !important;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.color-2-link {
  color: var(--color-4);
}

.color-2-link:hover {
  color: var(--color-2);
  text-decoration: underline;
}

.py-10 {
  padding: 10px auto;
}

@media (max-width: 1440px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-5 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid-6 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .header-text {
    font-size: 3rem;
  }

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
  }
  .grid-4 {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-6 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 468px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }

  .grid-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}
