.stories {
  background-size: cover;
}

.video-container video {
  height: auto;
  width: 100%;
  opacity: .4;
}

.video-container {
  position: relative;
}

.overlay-desc {
  background: linear-gradient(transparent, var(--color-1));
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc h1 {
  color: var(--color-2);
  margin: 0;
  font-size: 500%;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 100;
}

h1 {
  font-family: "Nobile", sans-serif;
  font-size: 5vw;
  text-align: center;
}


li:hover .summary {
  display: block;
}

.story-circle {
  position: relative;
  z-index: 110;
  margin: 100px auto;
  display: block;
  padding: 40px;
  opacity: 0;
  transition: 1s;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-size: cover;

}

.story-circle:nth-child(1) {
  background-image: url("/imgs/img1.jpg");
}


.story-circle:nth-child(2) {
  background-image: url("/imgs/img2.jpg");
}


.story-circle:nth-child(3) {
  background-image: url("/imgs/img3.jpg");
}

.story-circle.show {
  opacity: 1;
  height: 100px;
  width: 100px;
}

.up-down {
  height: 450px;
}

.summary {
  font-size: 19px;
  font-family: var(--main-font);
  height: 400px;
  width: 50%;
  background: linear-gradient(45deg, rgba(54, 37, 54, 0.5), rgba(80, 50, 80, 0.9));
  display: none;
  position: fixed;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 100px 25%;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 300;
  padding: 30px;
}

@keyframes bouncing-arrow {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateZ(0);
  }

  40% {
    transform: translate3d(0, -10px, 0);
  }

  60% {
    transform: translate3d(0, -5px, 0);
  }
}

.down-arrow {
  position: absolute;
  bottom: 30%;
  animation-name: bouncing-arrow;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.down-arrow-img {
  width: 80px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.stories-items {
  list-style: none;
  padding: 50px 200px;
}

.vertical-line {
  background-color: var(--color-2);
  height: 0px;
  width: 2px;
  position: absolute;
  left: 50%;
  z-index: 100;
  opacity: 1;
}

@keyframes grow-line {
  from {
    height: 0px;

  }

  to {
    height: 700px;
  }
}


.animate-line {
  animation-name: grow-line;
  animation-duration: 3s;
  animation-timing-function: ease;
  height: 1000px;
}