.stories {
  /* background-image: url("/imgs/bg.png"); */
  background-size: cover;
  position: relative;
}

.video-container video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: 0.3;
}

.video-container {
  position: relative;
}

.overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: -200px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-desc h1 {
  color: var(--color-2);
  margin: 0;
  font-size: 500%;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 100;
}

h1 {
  font-family: "Nobile", sans-serif;
  font-size: 5vw;
  text-align: center;
}

.stories-items {
  list-style: none;
  position: absolute;
}

.story-item {
  position: relative;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.story-title {
  position: absolute;
  top: 0.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-family: var(--main-font);
  font-weight: 1000;
  letter-spacing: 2px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.story-title:hover {
  opacity: 1;
}

.links {
  position: absolute;
  vertical-align: middle;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--smooth);
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  -ms-transition: var(--smooth);
  -o-transition: var(--smooth);
}

.link1 {
  top: 10vw;
  left: 40vw;
  background: url("/imgs/img1.jpg");
  background-size: cover;
}

.link2 {
  top: 25vw;
  left: 20vw;
  background: url("/imgs/img2.jpg");
  background-size: cover;
}

.link3 {
  top: 25vw;
  left: 60vw;
  background: url("/imgs/img3.jpg");
  background-size: cover;
}

.link4 {
  top: 45vw;
  left: 50vw;
  background: url("/imgs/img4.jpg");
  background-size: cover;
}

.link5 {
  top: 45vw;
  left: 30vw;
  background: url("/imgs/img5.jpg");
  background-size: cover;
}

.link1.show,
.link2.show,
.link3.show,
.link4.show,
.link5.show {
  opacity: 0.6;
  height: 20vh;
  width: 20vh;
}

.link1.show:hover,
.link2.show:hover,
.link3.show:hover,
.link4.show:hover,
.link5.show:hover {
  opacity: 1;
}

li:hover .summary {
  display: block;
}

.summary {
  font-size: 19px;
  font-family: var(--main-font);
  height: 400px;
  width: 50%;
  background: linear-gradient(
    45deg,
    rgba(54, 37, 54, 0.5),
    rgba(80, 50, 80, 0.9)
  );
  display: none;
  position: fixed;
  color: var(--color-5);
  align-items: center;
  justify-content: center;
  margin: 100px 25%;
  top: 0;
  left: 0;
  text-align: left;
  /* z-index: 300; */
  padding: 30px;
}

@keyframes bouncing-arrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateZ(0);
  }

  40% {
    transform: translate3d(0, -10px, 0);
  }

  60% {
    transform: translate3d(0, -5px, 0);
  }
}

.down-arrow {
  position: absolute;
  bottom: 20%;
  animation-name: bouncing-arrow;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
}

.down-arrow-img {
  width: 80px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.up {
  height: 100px;
}

.down {
  height: 1000px;
}

.spinner-wrapper {
  position: relative;
  top: 25vw;
  left: 60vw;
  z-index: 1000;
}

.spinner-text {
  color: var(--color-2);
  font-family: var(--main-font);
  position: relative;
  left: 39vw;
  top: 26vw;
  z-index: 1000;
  font-size: 2vw;
  margin: 0;
  height: 20vw;
  width: 20vw;
}

.spinner {
  position: relative;
  width: 20vw;
  height: 20vw;
  z-index: 1500;
  top: 15vw;
  left: 36vw;
  border: 7px solid transparent;
  border-top-color: var(--color-3);
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.spinner:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 7px solid transparent;
  border-top-color: var(--color-2);
  border-radius: 50%;
  transform: rotate(40deg);
  -webkit-animation: spin 3s linear 3;
  animation: spin 3s linear 3;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}

.spinner:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  border: 7px solid transparent;
  border-top-color: var(--color-5);
  border-radius: 50%;
  transform: rotate(-40deg);
  -webkit-animation: spin 1.5s linear 3;
  animation: spin 1.5s linear 3;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
