.sidebar {
  width: 200px;
  float: left;
  background: var(--color-5);
  height: 100vh;
  position: fixed;
}

.sidebar .admin-logo {
  background: var(--color-1);
}

.sidebar .admin-logo img {
  width: 200px;
}

.sidebar ul {
  list-style: none;
  margin: 100px 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  font-family: var(--main-font);
  font-size: 24px;
  color: var(--color-1);
  margin: 1px 0;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  background: var(--color-2);
}

.sidebar ul li a {
  color: white;
}

.sidebar ul li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ffaa33));
  background: linear-gradient(90deg, #ffaa33);
}
