.sidebar {
  width: 200px;
  float: left;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-4)), to(#225));
  background: linear-gradient(var(--color-4), #225);
  height: 100vh;
  position: fixed;
  z-index: 10;
  -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3);
}

.sidebar .admin-logo {
  width: 200px;
  height: 80px;
  position: relative;
  top: 80px;
  background: white;
}

.sidebar .admin-logo img {
  width: 50%;
  margin-left: 8%;
  margin-top: 10%;
}

.sidebar ul {
  list-style: none;
  margin: 100px 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  font-family: var(--main-font);
  width: 100%;
  cursor: pointer;
  padding: 0;
  height: 50px;
  text-transform: uppercase;
  text-align: left;
}

.sidebar ul li a {
  color: var(--color-3);
  font-size: 1rem;
  display: block;
}

.sidebar ul li.tab-active a {
  color: var(--color-2);
}

.sidebar ul li:hover a {
  color: var(--color-2);
}

.sidebar ul li.tab-active a {
  color: var(--color-2);
}

@media (max-width: 768px) {
  .sidebar {
    width: 50px;
  }
  .sidebar .admin-logo {
    display: none;
    background: white;
  }
  .sidebar-text {
    display: none;
  }
}
