.p-heading {
  position: relative;
  background-color: #222;
  margin: 20px 0;
  min-height: 300px;
}

.p-heading-image {
  background-size: cover;
  height: 100%;
  position: absolute;
  width: 100%;
  -webkit-filter: brightness(0.6);
  filter: brightness(0.4);
  z-index: 2 !important;
  opacity: 0.8;
}

.p-heading-text {
  color: var(--color-1) !important;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 40% !important;
  text-align: center;
  font-weight: 600 !important;
}
